.description-bold {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'NotoSans-SemiBold';
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .description-bold {
        font-size: 14px;
    }
}