@font-face {
    font-family: NotoSans-Regular;
    src: url(/fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans-SemiBold;
    src: url(/fonts/NotoSans-SemiBold.ttf);
}

.petty-black-bg {
    background-color: var(--petty-black);
    color: white;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

h2 {
    font-family: 'NotoSans-SemiBold';
    font-size: 24px;
}

h3 {
    font-family: 'NotoSans-SemiBold';
    font-size: 32px;
}

h1 {
    font-family: 'NotoSans-SemiBold';
    font-size: 56px;
    line-height: 1.6;
    margin: 0;
}

.common {
    font-family: 'NotoSans-Regular';
    font-size: 20px;
    color: black;
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'NotoSans-Regular';
    font-size: 16px;
    color: #8B8B8B;
}

.text-in-black-rentangle {
    background-color: var(--petty-black);
    padding: 3px 10px;
    border-radius: 25px;
    color: white;
    white-space: nowrap;
}

.regular {
    font-family: 'NotoSans-Regular';
    font-size: 20px;
}

.box-inner {
    max-width: 1440px;
}

.box {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.main-list-item {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    /* TODO: gaps */
}

.icon-conteiner {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-list {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nowrap {
    white-space: nowrap;
}

.flex-between {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .home {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: start;
    }

    ul {
        width: 100%;
    }

    h1 {
        font-size: 36px;
    }

    .description {
        font-size: 10px;
    }

    .box-inner {
        padding: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .icon-conteiner {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

    h3 {
        font-size: 20px;
    }

    .main-list-item {
        gap: 10px; 
    }

    .main {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .common {
        font-size: 15px;
    }

    .main-list {
        flex-direction: column;
    }

    .icon {
        width: 19px;
        height: 19px;
    }

    .desktop {
        display: none;
    }
    
    .centered-on-mobile {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    .main {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .box {
        padding: 40px 100px 40px 100px;
    }

    .navbar {
        grid-template-columns: auto auto;
    }

    h1 {
        width: 70%;
    }

    .icon {
        width: 33;
        height: 33;
    }

    .icon-conteiner {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .mobile {
        display: none;
    }
}