.full {
    width: 100%;
}

.gap-and-between {
    display: flex;
    gap: 15px
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100px;
}

.carousel-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo-box {
    aspect-ratio: 1 / 1;
    display: flex;
    width: 100%;
    min-width: 80px;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.carousel-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: -100px;
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-block {
    margin-top: 80px;
    display: flex;
    width: 100%;
    gap: 80px;
}

.get-in-touch-form {
    min-width: 350px;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    background-color: var(--light-flesh);
}

@media screen and (max-width: 620px) {
    .carousel-content {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .logo-box {
        max-width: 100px;
    }

    .get-in-touch-form {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .carousel-header {
        height: 40px;
    }

    .about-block {
        flex-direction: column;
    }

    .rest-about-block {
        flex-direction: column;
    }

    .get-in-touch-block {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    .rest-about-block {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: var(--light-flesh);
    }
}